.basePage {
  table {
    margin-top: 24px;

    tr {
      transition: 200ms ease all;
      cursor: pointer;
      &:hover {
        background: #cccccc23;
      }
    }
  }
  .filtros{
    display: flex;
    gap: 12px;
  }

  .initials-icon {
    padding-right: 18px;
    width: clamp(48px, 10vw, 70px) !important;
    max-width: clamp(48px, 10vw, 70px) !important;
    &__text {
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 11px;
      background: #2073cf33;
      color: #134680;
      user-select: none;
    }
  }

  mat-divider {
    margin-top: 32px;
    animation: slideDownFadeIn 700ms ease both;
    animation-delay: 500ms;
  }
  .btn-row {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    padding-right: 0;
    margin-bottom: 24px;
    animation: slideDownFadeIn 800ms ease both;
  }

  .emptyState {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    opacity: 0.5;
    margin-top: 24px;
    h3 {
      margin: 0;
      text-align: center;
      span {
        transform: translateY(6px);
        margin-right: 5px;
        color: #777;
      }
    }
  }
}

@keyframes slideDownFadeIn {
  0% {
    transform: translateY(-4px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (width< 508px) {
  /* Alterações de estilo para telas menores que 768px */
  .mat-cell,
  .mat-header-cell {
    display: block;
    font-size: 12px;
  }
}

@media (width< 500px) {
  .input-container {
    display: flex;
     /* Ajuste conforme necessário */
    flex-direction: column;
  }

  .mat-table-responsive {
    overflow-x: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mat-header-row{
    display: flex;
    gap: 39px;
  }
  .input-container {
    display: flex;
   /* Ajuste conforme necessário */
  }

  .flex-field {
    flex: 1;
    max-width: 300px; /* Ajuste conforme necessário */
  }
}



@import "~@angular/material/prebuilt-themes/indigo-pink.css";


