
<div class="page-wrapper">
  <nav aria-label="breadcrumb" class="breadcrumb">
    <button mat-button style="opacity: 0.6" class="subPageBtn" disabled>
      <span class="material-icons-outlined home"> home </span>
    </button>
    <span class="material-icons-outlined"> chevron_right </span>
    <button mat-button color="primary" class="pageBtn"> Clientes </button>
  </nav>

  <h1 class="pageTitle">
    <span class="material-icons-outlined"> person_search </span>
    Clientes
  </h1>
  <section class="basePage">
    <article class="btn-row">
      <button
        mat-flat-button
        color="primary"
        class="btn-row__add-btn"
        (click)="navigateToAddStock()"
      >
        Cadastrar Novos Clientes
      </button>
    </article>

    <ng-container>
      <div class="filtros">
        <!-- Campos de filtro -->
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Pesquisa por nome"
          (keyup)="buscarPorFiltros()"
          [(ngModel)]="filtroNome">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Situacao</mat-label>
          <mat-select [(ngModel)]="filtroSituacao" (selectionChange)="buscarPorFiltros()">
            <mat-option value="ativo">Ativo</mat-option>
            <mat-option value="inativo">Inativo</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Botão para aplicar os filtros -->
      </div>
      <button mat-raised-button color="primary" (click)="limpar()">Limpar Filtros</button>
  </ng-container>

    <ng-container *ngIf="clientes.length > 0; else emptyState">
      <table mat-table [dataSource]="clientes" class="mat-elevation-z1">


        <ng-container matColumnDef="codCliente">
          <th mat-header-cell *matHeaderCellDef class="codClienteCol">Código do cliente</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="codClienteCol"
          >
            {{ element.codCliente }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef class="nomeCol">Nome</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="nomeCol"
          >
            {{ element.nome }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipoPublico">
          <th mat-header-cell *matHeaderCellDef class="idadeCol">Tipo Publico</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="rgCol"
          >
            {{ element.tipoPublico === 'pessoaFisica'? 'pessoa fisica' : 'pessoa juridica'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="rg">
          <th mat-header-cell *matHeaderCellDef class="idadeCol">Rg/IE</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="rgCol"
          >
            {{ element.rgOrIe }}
          </td>
        </ng-container>

        <ng-container matColumnDef="situacao">
          <th mat-header-cell *matHeaderCellDef>Situação</th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ element.situacao }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef>CPF/CNPJ</th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ element.cpfOrCnpj }}
          </td>
        </ng-container>

        <ng-container matColumnDef="dataCadastro">
          <th mat-header-cell *matHeaderCellDef>Data Cadastro</th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ element.dataCadastro}}
          </td>
        </ng-container>

        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef class="telefoneCol">
            Telefones
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="telefoneCol"
          >
            <mat-chip-list
              style="display: flex; align-items: baseline; gap: 8px"
            >
              <mat-chip
                *ngFor="let phone of element.telefones"
              >
                {{ phone }}
              </mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <!-- Coluna de Ação (Botão de Edição) -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editarItem(element.codCliente)" style="color: blue;">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="primary" (click)="excluirItem(element.codCliente)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </ng-container>
    <ng-template #emptyState>
      <article class="emptyState" *ngIf="!loading">
        <h3>
          <span class="material-icons-outlined"> announcement </span>
          Não há clientes cadastrados
        </h3>
      </article>
    </ng-template>
  </section>
</div>

