<div class="page-wrapper">
  <nav aria-label="breadcrumb" class="breadcrumb">
    <button mat-button style="opacity: 0.6" class="subPageBtn" disabled>
      <span class="material-icons-outlined home"> home </span>
    </button>
    <span class="material-icons-outlined"> chevron_right </span>
    <button
      mat-button
      color="primary"
      class="subPageBtn"
      routerLink="/clientes"
    >
      Clientes
    </button>
    <span class="material-icons-outlined"> chevron_right </span>
    <button mat-button color="primary" class="pageBtn">Editar Cliente</button>
  </nav>

  <h1 class="pageTitle">
    <span class="material-icons-outlined">edit</span>
    Editar Cliente
  </h1>
  <section class="basePage">
    <h3>Preencha abaixo os dados do cliente:</h3>
    <app-public-from  [formGroup]="publicForm"></app-public-from>

    <app-people-form
    *ngIf="this.publicForm.controls['tipoPublico'].value === 'pessoaFisica'"
     [formGroup]="clientePFForm"
     [telefonesEdit]="telefones"
    (saveClientePF)="saveNewCliente()"
    (backNavigation)="backNavigationHandler()">
    </app-people-form>

    <app-organizations-form
    *ngIf="this.publicForm.controls['tipoPublico'].value === 'pessoaJuridica'"
     [formGroup]="clientePJForm"
     [telefonesEdit]="telefones"
     (saveClientePJ)="saveNewCliente()"
     (backNavigation)="backNavigationHandler()">
  </app-organizations-form>
  </section>
</div>




