
<section class="example-section">
  <form [formGroup]="formGroup">
  <p class="example-margin">Qual tipo de público?</p>
  <div class="mat-radio-group">
    <label style="display: flex;">
      <input
        formControlName="tipoPublico"
        name="tipoPublico"
        type="radio"
        value="pessoaFisica"
        aria-label="Pessoa Física"
        class="custom-radio"
      />
      <span>Pessoa Física</span>
    </label>
    <label style="display: flex;">
      <input
        formControlName="tipoPublico"
        name="tipoPublico"
        type="radio"
        value="pessoaJuridica"
        aria-label="Pessoa Júridica"
        class="custom-radio"
      />
      <span>Pessoa Júridica</span>
    </label>
  </div>
  </form>
</section>
